.candidateRow {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 90%;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.overlay {
  display:none;
  position: absolute;
  padding: 20px;
  margin-top: -10%;
  right: 20%;
  height: 30%;
  width: 20%;
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
  z-index: 1;

  text-transform: capitalize;
}

.show {
  display: block;

}

.picture {
  max-width: 50%;
  max-height: 50%;
}

.personal {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  display: flex;
  align-items: center;
  height: 30%;
}
.email {
  display: flex;
  align-items: center;
  height: 30%;
}
.status {
  width: 20%;
  text-transform: capitalize;
}
.applicationDate {
  width: 15%;
}
.action {
  width: 15%;
}
.location {
  width: 15%;
  text-transform: capitalize;
}
.need {
  width: 15%;
}
.ellipses {
  width: 5%;
}
